
<div class="container">
  <div class='text-center'>
    <h1>Results:</h1>
    <br>
    <a href="/users/profile/both"><button type="button" class="btn btn-primary">Both Eyes</button></a>
    <a href="/users/profile/single"><button type="button" class="btn btn-primary">Single Vision</button></a>
    <a href="/users/profile/cb"><button type="button" class="btn btn-primary">Color Blindness</button></a>
    <hr>
  </div>


    <%if @type == 'both'%>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="profile_header text-center">Your Past Results</h1>

          <table class="table table-bordered">
            <tr>
              <td><strong>Date taken</strong></td>
              <td><strong>Both Eyes</strong></td>

          <% @user.saved_tests.where.not(result_both: 'No saved tests').each do |test| %>
            <tr>
              <td><%= test.created_at%></td>
              <td><%= test.result_both %></td>

            </tr>
          <% end %>
          </table>
        </div>
        <div class="col-md-2"></div>
      </div>
    <%end%>

    <%if @type == 'single'%>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="text-center">Your Past Results</h1>
          <table class="table table-bordered">
            <tr>
              <td><strong>Date taken</strong></td>
              <td><strong>Right Eye</strong></td>
              <td><strong>Left Eye</strong></td>
          <% @user.saved_tests.where.not(result_left: 'No saved tests').each do |test| %>
            <tr>
              <td><%= test.created_at%></td>
              <td><%= test.result_right %></td>
              <td><%= test.result_left %></td>
            </tr>
          <% end %>
          </table>
        <div class="col-md-2"></div>
      </div>
    <%end%>

    <%if @type == 'cb'%>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="text-center">Your Past Results</h1>
          <table class="table table-bordered">
            <tr>
              <td><strong>Date taken</strong></td>
              <td><strong>Result</strong></td>

          <% @user.saved_tests.where.not(result_cb: 'No saved tests').each do |test| %>
            <tr>
              <td><%= test.created_at%></td>
              <td><%= test.result_cb %></td>

            </tr>
          <% end %>
          </table>
        <div class="col-md-2"></div>
      </div>
    <%end%>
</div>

