<div class="input">
<style>
p {font-size: <%= Vision.find(session[:line]).font_size.to_f%>em}
</style>

<p> <%=@list%> </p>

</div>


<form action='/users/<%=session[:id]%>/tests/vision' method='post'>
  <input type='text' name='answer' autofocus="autofocus">
  <input type="hidden" name='fiveletters' value = <%=@list%>>
  <input type='submit' value = 'Submit'>
</form>

<a href="/users/<%=session[:id]%>/reset"><button>Home</button></a>
